<div class="container p-4 my-5">
  <div class="row">
    <div class="mx-auto">
      <div class="row g-2">
        <div class="col-4" *ngFor="let puesto of puestos">
          <div class="card" style="width: 20rem">
            <div class="card-body">
              <h2 class="card-title">Puesto #{{ puesto.id }}</h2>
              <mat-chip
                selected
                [color]="puesto.placa !== '1' ? 'warn' : 'primary'"
              >
                {{ puesto.placa !== "1" ? "Ocupado" : "Libre" }}
              </mat-chip>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Placa || {{ puesto.placa !== "1" ? puesto.placa : "" }}
              </li>
              <li class="list-group-item">
                Propietario || {{ puesto.placa !== "1" ? puesto.propietario : "" }}
              </li>
              <li class="list-group-item">
                Inicio || {{ puesto.placa !== "1" ? puesto.inicio : "" }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
