<div class="container p-4 my-5">
  <div class="row">
    <div class="mx-auto">
      <div class="row g-2">
        <div class="col-3" *ngFor="let puesto of puestos;let i = index">
          <div class="card" style="width: 15rem">
            <form (ngSubmit)="actualizarPuesto(puesto)">
              <div class="card-body">
                <h2 class="card-title">Puesto #{{ (i+1) }}</h2>
                <mat-chip
                  selected
                  [color]="puesto.placa !== '1' ? 'accent' : 'primary'"
                >
                  {{ puesto.placa !== "1" ? "Ocupado" : "Libre" }}
                </mat-chip>
              </div>
              <div class="card-body">
                <ul class="list-group">
                  <li class="d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">
                        {{ puesto.placa !== "1" ? puesto.placa : "LIBRE**" }}
                      </div>
                      {{
                        puesto.placa !== "1" ? puesto.propietario : "LIBRE**"
                      }}
                    </div>
                    <h3>
                      <span class="badge bg-success">
                        {{ puesto.placa !== "1" ? puesto.inicio : "LIBRE**" }}
                      </span>
                    </h3>
                  </li>
                </ul>
              </div>
              <input
                type="submit"
                *ngIf="puesto.placa !== '1'"
                class="btn btn-warning"
                value="Sacar carro"
              />
              <input
                type="submit"
                *ngIf="puesto.placa === '1'"
                class="btn btn-success"
                value="Registrar carro"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
