<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo.png" alt="" class="d-inline-block align-text-top">
    </a>
    <button mat-flat-button color="accent" routerLink="puestos">Puestos</button>
    <button mat-flat-button color="primary" routerLink="registros">Registros</button>
    <mat-chip-list
      class="example-chip">
      <mat-chip class="example-box" disabled>
        Santiago Chana
      </mat-chip>
      <mat-chip class="example-box" disabled>
        Carlos Díaz
      </mat-chip>
      <mat-chip class="example-box" disabled>
        Faver Ordoñez
      </mat-chip>
    </mat-chip-list>
  </div>
</nav>
