<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo.png" alt="" width="80" height="90" class="d-inline-block align-text-top">
      Parqueadero-app
    </a>
    <button mat-flat-button color="accent" routerLink="puestos">Puestos</button>
    <button mat-flat-button color="primary" routerLink="registros">Registros</button>
    <mat-chip-list
      class="example-chip">
      <mat-chip class="example-box" disabled>
        Luis Carlos Benavides Betancourt
      </mat-chip>
      <mat-chip class="example-box" disabled>
        Carlos Ernesto Díaz Basante
      </mat-chip>
      <mat-chip class="example-box" disabled>
        Faver Andrei Ordoñez Ordoñez
      </mat-chip>
    </mat-chip-list>
  </div>
</nav>
