<div class="container p-4 my-5">
  <div class="row">
    <div class="mx-auto">
      <div class="row">
        <mat-chip *ngIf="!habilitarEdicion()" color="warn">
          No se puede editar o no se encontro
        </mat-chip>
        <div class="card" *ngIf="habilitarEdicion()">
          <form>
            <div class="card-body">
              <h2 class="card-title">Puesto #{{ puesto.id }}</h2>
              <mat-chip
                selected
                [color]="puesto.placa !== '1' ? 'accent' : 'primary'"
              >
                {{ puesto.placa !== "1" ? "Ocupado" : "Libre" }}
              </mat-chip>
            </div>
            <div class="card-body">
              <input
                type="text"
                class="form-control"
                placeholder="Placa del carro"
                required
              />
              <br />
              <input
                type="text"
                class="form-control"
                placeholder="Documento del propietario"
                required
              />
            </div>
            <input
              type="submit"
              *ngIf="puesto.placa !== '1'"
              class="btn btn-warning"
              value="Sacar carro"
            />
            <input
              type="submit"
              class="btn btn-success"
              value="Registrar carro"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
