<div class="container p-4 my-5">
  <div class="row">
    <div class="mx-auto">
      <div class="row g-2">
        <mat-chip *ngIf="!habilitarEdicion()" color="warn">
          No se puede editar o no se encontro
        </mat-chip>
        <div class="card" *ngIf="habilitarEdicion()">
          <form>
            <div class="card-body">
              <h2 class="card-title">Puesto #{{ puesto.id }}</h2>
              <mat-chip
                selected
                [color]="puesto.placa !== '1' ? 'accent' : 'primary'"
              >
                {{ puesto.placa !== "1" ? "Ocupado" : "Libre" }}
              </mat-chip>
            </div>
            <div class="card-body">
              <ul class="list-group">
                <li class="d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <mat-form-field>
                      <mat-label>Placa del carro</mat-label>
                      <input
                        matInput
                        #input
                        maxlength="6"
                        placeholder="Placa"
                        required
                      />
                      <mat-hint align="end">
                        {{ input.value?.length || 0 }}/6
                      </mat-hint>
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                      <mat-label>Documentos del propietario</mat-label>
                      <input
                        matInput
                        #input
                        placeholder="Documento"
                        required
                      />
                      <mat-hint align="end">
                        {{ input.value?.length || 0 }}/15
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </li>
              </ul>
            </div>
            <input
              type="submit"
              *ngIf="puesto.placa !== '1'"
              class="btn btn-warning"
              value="Sacar carro"
            />
            <input
              type="submit"
              *ngIf="puesto.placa === '1'"
              class="btn btn-success"
              value="Registrar carro"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
