<div class="container p-4 my-5">
  <div class="row">
    <div class="mx-auto">
      <div class="row">
        <mat-chip *ngIf="!habilitarEdicion()" color="warn">
          No se puede editar o no se encontro
        </mat-chip>
        <div class="card" *ngIf="habilitarEdicion()">
          <form [formGroup]="formulario" (ngSubmit)="actualizarPuesto()">
            <div class="card-body">
              <h2 class="card-title">Puesto #{{ puesto._id }}</h2>
              <mat-chip
                selected
                [color]="puesto.placa !== '1' ? 'accent' : 'primary'"
              >
                {{ puesto.placa !== "1" ? "Ocupado" : "Libre" }}
              </mat-chip>
            </div>
            <div class="card-body">
              <input
                formControlName="placa"
                type="text"
                class="form-control"
                placeholder="Placa del carro"
                required
              />
              <br />
              <input
                formControlName="propietario"
                type="text"
                class="form-control"
                placeholder="Documento del propietario"
                required
              />
              <br />
              <input
                type="submit"
                class="btn btn-success"
                value="Registrar carro"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
